.mr-10 {
  margin-right: 10px;
}

.likes {
  margin: 0 5px;
  color: blue;
}

.dislikes {
  margin: 0 5px;
  color: brown;
}

.video-list-item {
  margin: 20px 0;
  max-height: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  .title {
    font-weight: bold;
  }
  .description_label {
    margin: 10px 0;
  }
}

.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}

.video-item, .video-item:hover {
  color: inherit;
  text-decoration: none;
}
